{{ include header }}
<section class="content">

    <div id="myModalexample" class="modal">
        <header class="bar bar-nav">
            <a class="icon icon-close pull-right" href="#myModalexample"></a>
            <h1 class="title">Modal</h1>
        </header>
        <div class="content">
            <p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        </div>
    </div>


    <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="navigate-right" href="#myModalexample" data-ui="modal">
         Open modal
        </a>
      </li>
      <li class="table-view-cell">
        <a class="navigate-right" href="/views/pages/load.html" data-transition="slide-in">
          Load new page with push
        </a>
      </li>
    </ul>
  </div>

</section>
{{ include footer }}
