{{ include header }}
<div class="content">
    <div class="slider" id="mySlider">
        <div class="slide-group">
            <div class="slide">
                <img src="http://goratchet.com/assets/img/slide-1.jpg">
                <span class="slide-text">
                  <span class="icon icon-left-nav"></span> Slide me
                </span>
            </div>
            <div class="slide">
                <img src="http://goratchet.com/assets/img/slide-2.jpg">
            </div>
            <div class="slide">
                <img src="http://goratchet.com/assets/img/slide-3.jpg">
            </div>
        </div>
    </div>
</div>
{{ include footer }}
